.home{
    position: relative;
    height: 100vh;
    margin-left: 100px;
    margin-right: 100px;
}

.card{
    width: 18rem;
    height: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

.img{
    width: 150px;
    height: 200px
}

.text1 {
    text-decoration: none;
    color: #3FA6CC;
    font-weight: bold;
}

.text2 {
    text-decoration: none;
    color: #081C7C;
    font-weight: bold;
}

.text3 {
    text-decoration: none;
    color: #370752;
    font-weight: bold;
}

.text1:hover, .text2:hover, .text3:hover {
    color: #65ecf8;
}

.navbar-brand{
    color: #041897;
    font-weight: 600;
}

.nav-link{
    color: #8E810C;
    font-weight: 600;
}

.nav-link-log {
    color: #970407;
    text-decoration: none;
    font-weight: bold;
}

.navbar-sec{
    position: relative;
    height: auto;
}

.navbar{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    margin-left: 20px;
    margin-right: 20px;
    position: sticky;
    top: 0;
    z-index: 10;
}