body{
    overflow-x: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
}

.loginlab{
    position: relative;
    top: 25px;
}

#uname{
    position: relative;
    top: 25px;
}

#password{
    position: relative;
    top: 25px;
}

#image{
    position: absolute;
    left: 0;
    right: 0;
    top: 5px;
    margin: auto;
    width: 80px;
    height: 80px;
}

.btn-log{
    position: relative;
    top: 25px;
}

.form-log{
    width: 290px;
    height: 373px;
    background: linear-gradient(to bottom, #ffffff 0%, #999999 100%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}