.sign-in{
    position: relative;
    height: 100vh;
}

.form-2 {
    width: 290px;
    height: 373px;
    background: linear-gradient(to bottom, #ffffff 0%, #999999 100%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.form-control {
    /*max-width: 190px;*/
    /*height: 30px;*/
    /*background: #A7A3A3;*/
    /*border: none;*/
    /*border-radius: 5px;*/
    /*padding: 5px;*/
    /*position: relative;*/
    /*top: 80px;*/
    /*left: 12%;*/
}

.form-label-2{
    position: relative;
    top: 80px;
    left: 12%;
}

.signlab{
    position: relative;
    top: 50px;
}

#usname{
    position: relative;
    top: 50px;
}

#name{
    position: relative;
    top: 50px;
}

#pword{
    position: relative;
    top: 50px;
}

.btn-2{
    position: relative;
    top: 50px;
}

#image1{
    position: absolute;
    left: 0;
    right: 0;
    top: 5px;
    margin: auto;
    width: 80px;
    height: 80px;
}

